// bower:scss
// endbower
@import "modules/all";
@import "partials/base";
@import "vendors/bootstrap/bootstrap";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fafafa;
  font-family: 'ubuntu','Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.container {
  @include media-breakpoint-up(xl) {
    max-width: 1170px;
  }
}
