// bower:scss
// endbower
@import "abstract/function";

@import "modules/colors";
@import "modules/utility";
@import "modules/variables";

@import "partials/button";
@import "partials/typography";

@import "vendors/bootstrap/bootstrap";


.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.container {
  @include media-breakpoint-up(xl) {
    max-width: 1170px;
  }
}

// .btn {
//   @include media-breakpoint-up(xl) {
//     text-align: center !important;
//     display: flex;
//     align-items: center;
//   }
// }
