$font-family-base: prepend($font-family-sans-serif,'ubuntu');
$font-size-base:    1.125rem;

body {
  font-family: $font-family-base;
  font-size: $font-size-base;

  p {
    line-height: calc(30/16);
  }
}

%module-title {
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: capitalize;
}

%section-title {
  font-weight: bold;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #648cff;
}

%desc {
  font-weight: normal;
}

