@import "vendors/bootstrap/bootstrap";
@import "modules/variables";

$main-menu-bg: $gray-100;
$menu-padding: 10px 15px;
$bg-color: $bg-blue;

/* .toggle {
  display: block;

  @include media-breakpoint-up(sm){
    display: block !important;
  }
}
 */
.main-menu {
  background-color: $main-menu-bg;
  color: color-yiq($main-menu-bg);
  margin-right: -15px;
  margin-left: -15px;

  > a {
    //  logo and toggle link
    padding: $menu-padding;
    display: inline-block;
  }

  a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }

  .main-menu__logo {
    font-weight: bold;
  }

  .main-menu__toggle {
    float: right;
  }

  @include media-breakpoint-up(sm){
    background-color: initial;
    color: color-yiq($bg-color);
  }
}


.main-menu__nav {
  ul {
    margin: 0;
    padding: 0;
    display: none;
  }

  li {
    list-style: none;
  }

  a {
    display: block;
    padding: $menu-padding;
    text-transform: capitalize;

    &:hover {
      background-color: lighten($main-menu-bg,10%);
    }
  }
}


.hero {
  padding: 3rem 0;
}

.title {
  text-align: center;

  .title__heading {
    @extend %section-title;
    margin:0;
  }

  .title__desc {
    color: #999999;
    font-size: 1.125rem;
    margin: 0;
  }
}

.main-content {
  .main-content__title {
    color: $white;
    font-size: 2em;
    font-weight: bold;
    margin: 0;

    @include media-breakpoint-up (md){
      font-size: 3.75rem;
    }
  }

  .main-content__desc {
    color:  color-yiq($bg-blue);
  }
}

.main-btn {
  .btn:first-child {
    margin-right: 15px;
  }
}

.box-icon {
  display: block;

  .box-icon__symbol {
    margin-right: 20px;
    font-size: 50px;
  }

  .box-icon__title {
    margin-bottom: 10px;
    font-weight: bold;
}

  .box-icon__desc {
    color: #aeaeae;
    font-weight: normal;
  }

  @include media-breakpoint-up(sm) {
    display: flex;
  }
}

.box-icon--style02 {
  display: block;
}

.header {
  background-color: $bg-color;
}

@include media-breakpoint-up (sm){
  .main-menu__nav {
    display: flex ;
    justify-content: center;

    ul {
      display: block !important;
      //overide Jquery display: none
    }

    li {
      display: inline-block !important;
    }
  }

  .main-menu__logo {
    float: left;
  }

  .main-menu__toggle {
    visibility: hidden;
  }
}
